.region-picker-wrapper {
  	height: 259px;
  	position: absolute;
  	background-color: white;
  	width: 100%;
  	/*margin-top: -44px;*/
}
.region-picker-wrapper .header {
  	height: 44px;
}
.region-picker-wrapper .bar-header {
  	border: none !important;
  	background-image: none;
  	background: #fff;
  	background-color: #F9F9F9;
}
.region-picker-wrapper .body {
  	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-flex;
  	display: -ms-flexbox;
  	display: flex;
  	height: 215px;
  	width: 100%;
  	position: absolute;
  	overflow: hidden;
  	background-color: white;
}
.region-picker-wrapper .body .select-zone {
  	pointer-events: none;
  	position: absolute;
  	width: 100%;
  	display: block;
  	z-index: 1100;
  	background: white;
  	opacity: 0.4;
}
.region-picker-wrapper .body .select-zone.top {
		height: 85px;	
}
.region-picker-wrapper .body .select-zone.middle {
  	background: none;
  	background-color: none;
  	top: 85px;
  	border-top: solid #d1d1d1 1px;
  	border-bottom: solid #d1d1d1 1px;
  	height: 26px;
}
.region-picker-wrapper .body .select-zone.bottom {
		height: 107px;
		top: 111px;
}
.region-picker-wrapper .body .region-picker {
  	position: relative;
  	-webkit-box-flex: 1;
  	-webkit-flex: 1 1 0;
  	-moz-box-flex: 1;
  	-moz-flex: 1 1 0;
  	-ms-flex: 1 1 0;
  	flex: 1 1 0;
  	float: left;
  	height: 215px;
  	overflow: hidden;
}
.region-picker-wrapper .body .region-picker li {
		height: 26px;
  	overflow: hidden;
  	background-color: white;
  	line-height: 26px;
  	font-size: 14px;
  	text-align: center;
}
.region-picker-wrapper .bar-header .button, .region-picker-wrapper .bar-header .title {
  	font-size: 14px;
}
.bar .button.button-clear {
  	color: #4c4440;
}
.bar .button.button-clear {
  	padding-right: 2px;
  	padding-left: 2px;
  	font-weight: 300;
  	font-size: 17px;
}
.bar .button {
  	min-height: 30px;
  	line-height: 34px;
}
.button-clear.button-clear {
  	border-color: transparent;
  	background: none;
  	box-shadow: none;
  	color: #b2b2b2;
}
.bar .button {
  	z-index: 1;
  	padding: 0 8px;
  	min-width: initial;
  	min-height: 31px;
  	font-weight: 400;
  	font-size: 13px;
  	line-height: 32px;
}
.button-clear {
  	-webkit-transition: opacity .1s;
  	transition: opacity .1s;
  	padding: 0 6px;
  	max-height: 42px;
  	border-color: transparent;
  	background: none;
  	box-shadow: none;
}
.button {
  	border-color: #b2b2b2;
  	background-color: #f8f8f8;
  	color: #444;
  	position: relative;
  	display: inline-block;
  	margin: 0;
  	padding: 0 12px;
  	min-width: 52px;
  	min-height: 47px;
  	border-width: 1px;
  	border-style: solid;
  	border-radius: 2px;
  	vertical-align: top;
  	text-align: center;
  	text-overflow: ellipsis;
  	font-size: 16px;
  	line-height: 42px;
  	cursor: pointer;
}
header .title {
  	font-size: 14px;
}
.bar-header .title {
  	font-size: 19px;
  	color: #4c4440;
}
.bar .title {
  	position: absolute;
  	top: 0;
  	right: 0;
  	left: 0;
  	z-index: 0;
  	overflow: hidden;
  	margin: 0 10px;
  	min-width: 30px;
  	height: 43px;
  	text-align: center;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	font-size: 17px;
  	font-weight: 500;
  	line-height: 44px;
}
.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
  position: absolute;
  top: 5px;
  right: 10px;
  bottom: 5px;
}
.region-picker-wrapper .bar-header .button, .region-picker-wrapper .bar-header .title {
  font-size: 14px;
}
.region-picker-wrapper .bar-header .button-positive {
  color: #387ef5;
}
.bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 44px;
  /* border-width: 0; */
  /* border-style: solid; */
  /* border-top: 1px solid transparent; */
  /* border-bottom: 1px solid #ddd; */
  /* background-color: white; */
  /* border-width: 1px will actually create 2 device pixels on retina; */
  background-size: 0;
}
.region-picker-wrapper .body .region-picker .UIPickerView-wrapper {
  	position: relative;
  	z-index: 999;
  	display: block;
  	height: 215px;
  	overflow: hidden;
}
.region-picker-wrapper .body .region-picker .UIPickerView-wrapper .UIPickerView-deptch {
  	height: 100%;
  	padding-top: 86px;
  	background-color: #fcfcfc;
}
.region-picker-wrapper .body .region-picker .UIPickerView-frame {
	pointer-events: auto;
	position: absolute;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-width: 16px;
}
.control
{
	display: none;
}
.visibility-control
{
	visibility: hidden;
}