.UIPickerView-wrapper{
	position: relative;
	z-index: 999;
	display: block;
	height: 215px;
	padding: 0 11px;
	overflow: hidden;
}
.UIPickerView-deptch{
	display: table-cell;
	height: 100%;
    width: 100px;
    padding-top: 86px;
    background-color: #fcfcfc;
}
.UIPickerView-frame{
	pointer-events: auto;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 16px;
    background:url(sw-alpha.png);
    background-repeat: no-repeat;
}
.control{
	display: none;
}
